.topnav {
  width: auto;
  height: auto;
  background-color: black;
}

.topnav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.topnav a:hover {
  color: #42f5bf;
}

.topnav a:visited {
  color: #42d1f5;
}

h1 {
  text-align: center;
}

img {
  height: 500px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h {
  padding:25px;
  font-size: 25px;
}

td {
  padding:25px;
  font-size: 20px;
}

.link {
  font-size:15px;
}

